name: Collect V2Ray Configs

on:
  schedule:
    - cron: '0 */8 * * *'
  workflow_dispatch:

jobs:
  collect:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN }}   # مهم برای push

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install telethon jdatetime python-dotenv

      - name: Run script
        env:
          API_ID: ${{ secrets.API_ID }}
          API_HASH: ${{ secrets.API_HASH }}
          TELEGRAM_SESSION_STRING: ${{ secrets.TELEGRAM_SESSION_STRING }}
        run: python main.py

      - name: Commit updated config files
        run: |
          git config user.name "GitHub Actions Bot"
          git config user.email "actions@github.com"
          
          git add telegram_configs.txt telegram_configs_base64.txt
          git commit -m "Update configs for $(date '+%Y-%m-%d %H:%M UTC')" || echo "No changes to commit"
          git push || echo "Push failed or no changes"
